<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>elapse.log</file>

        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %msg
            </pattern>
        </encoder>
    </appender>

    <logger name="com.nhnacademy.springframework.waterwork.BootStrap" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <pattern>
                %msg
        </pattern>
    </logger>
    <logger name="com.nhnacademy.springframework.waterwork.aspect.TimeStamp" level="INFO" additivity="false">
    <appender-ref ref="FILE" />
        <pattern>
                %msg%n
        </pattern>
    </logger>
    <logger name="com.nhnacademy.springframework.waterwork.service.LoggingResultServiceTest" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <pattern>
            %msg
        </pattern>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>